<div class="container">
  <div class="row">
    <h1>Find some info on that twitter profile</h1>

    <p>Input a profile name:</p>

    <form action="/answer" class="form-inline">
      <div class="input-group input-group-lg">
        <input type="text" name="question" class="form-control">
        <span class="input-group-btn">
          <input type="submit" value="Ask" class="btn btn-primary">
        </span>
      </div>
    </form>
  </div>
</div>
