<div class="page-footer mt-5">

  <div class="terms d-flex justify-content-center text-align-center mt-4">
    <p>This footer was made with <i class="fas fa-heart"></i> during quarantine 🤒.</p>
  </div>
   <div class="social-media d-flex justify-content-center">
    <a href="https://github.com/JaumeRos/"><i class="fab fa-github"></i></a>
              <a href="https://instagram.com/JaumeeRos"><i class="fab fa-instagram"></i></a>
              <a href="https://www.twitter.com/jaumeros6/"><i class="fab fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/jaume-ros-salvador/"><i class="fab fa-linkedin"></i></a>
  </div>

</div>
